.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px;
  background-color: lightblue;
  padding-top: 10px;
}
.navbar > div {
  height: 30px;
  line-height: 30px;
  background-color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: darkgray;
  flex: 1 1 auto;
  border: 1px bisque;
  border-radius: 10px;
  text-align: center;

  margin: 5px;
}
.navbar > div > a {
  padding: 5px 12px;
  text-decoration: none;
  color: black;
}

h1,
h2 {
  text-align: center;
}
.co {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px fit-content;
  padding-left: 10%;
  padding-right: 10%;
}
.eng {
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 8px;
  container: 5px solid black;
}
.co1 {
  padding-right: 2.5%;
}
.co2 {
  padding-left: 2.5%;
}
.contaner {
  position: relative;
  text-align: center;
  color: darkred;
  font-size: xx-large;
  padding-left: 20%;
  padding-right: 20%;
}
.top-left {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -30%);
  color: darkred;
  font-size: xx-large;
}
.i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  color: darkred;
}
.a {
  font-size: xxx-large;
  padding-left: 35%;
}
.c {
  width: 50%;
  padding-left: 1%;
  float: left;
  padding-right: 1%;
}
.b {
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.f {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100% 100%;
  padding-left: 1%;
  padding-right: 1%;
}
.g {
  height: 30px;
  line-height: 30px;
  background-color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  flex: 1 1 auto;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}
div > a {
  text-decoration: none;
  color: black;
}
.h {
  padding-left: 20%;
  padding-right: 20%;
}
body {
  background-color: lightyellow;
}
hr {
  height: 10px;
  background-color: black;
}
.I {
  background-color: lightskyblue;
  border: 5px solid black;
  padding-left: 15%;
  padding-right: 15%;
}
.I h6 {
  padding-left: 80%;
}
